<html> 
	<head> 
		<meta charset="utf-8">
		<title> Rezultati </title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/rezultati.css')}}" />
	</head>
	
	<body onload="window.alert('Imamo vaše podatke! Vaša lokacija je: Varaždin, Croatia');"> 
		<div>
			<p>{{username}}</p>
			<p>
				{% if rezultat > 10 %}
					<p> {{rezultat}} !!! Pa ti si piton. </p>
					<img src="{{url_for('static', filename='images/piton.jpg')}}" align="center"/>
				{% elif rezultat < 10 and rezultat > 5 %}
					<p> {{rezultat}} !!! Pa ti si kobra. </p>
					<img src="{{url_for('static', filename='images/kobra.jpg')}}" align="center"/>
				{% else  %}
					<p> {{rezultat}} !!! Ti si poskok. </p>
					<img src="{{url_for('static', filename='images/poskok.jpg')}}" align="center"/>
				{% endif %}
			</p>
		</div>		
	</body>

</html>
